<!DOCTYPE html>
<html>
  <head>
    <title>Diddy in Repose</title>
    <link rel='stylesheet' href='/stylesheets/reset.css'>
    <link rel='stylesheet' href='/stylesheets/style.css'>
  </head>
  <body>
  	<div id="formContainer">
  	<% include ../partials/user-form.ejs %>
  	<% include ../partials/login-form.ejs %>
    <% include ../partials/delete.ejs %>
  	</div>
  	<% include ../partials/header.ejs %>
    <div class="main">
    <% include ../partials/banner.ejs %>    
    	<div class="wrapper">
  	  	<% videos.forEach(function(video) { %>
          <% var linkUrl = video.url %>
          <% var urlStart = linkUrl.indexOf("=") + 1; %>
          <% var urlCode = linkUrl.substr(urlStart, 11); %>
          <% var time = parseInt(video.minutes * 60) + parseInt(video.seconds); %>
          <% var urlEmbed = "https://www.youtube.com/embed/" + urlCode + "?rel=0&start=" + time; %>
        <% if (video.currentUser === true) { %>
          <div class="vid-box current-user-video">
        <% } else { %>
          <div class="vid-box">
        <% } %>
  	  			<div class="vid-wrapper">
  	  				<iframe src="<%= urlEmbed %>" frameborder="0" allowfullscreen></iframe>
  	  			</div>
  	  			<div class="info">
              <div class="info-left">
    		  			<p class="song-info"><%= video.title %></p>
    		  			<p class="song-info"><%= video.artist %></p>
    		  			
              </div>
              <div class="info-right">
                <p>Posted by <a class="username" href="/users/<%= video._user %>"><%= video.userName %></a></p>
                <% if (video.currentUser === true) { %>
                  <a href="/users/edit/<%= video._id %>"><button class="edit green-button">edit</button></a>
                  <button class="delete-button green-button" id="<%= video._id %>">delete</button>
                <% } %>
              </div>
              <div class="info-bottom">
                <p class="description"><%= video.description %></p>
              </div>
  	  			</div>
  	  		</div>
  	  	<% }) %>
        <% include ../partials/footer.ejs %>
    	</div>
    </div>
  </body>
  <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
  <script src="/javascripts/script.js"></script>
</html>
